/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*common css*/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.button{
    display: inline-block;
    font-size:18px;
    color:#fff;
    background-color:#fed135;
    padding:5px 10px;
    border-radius: 5px;
    opacity: 0.9;
}
.button:hover{
    opacity: 1;

}
.layout{
    width:1000px;
    margin:0 auto;
}
body{
    font:14px/1.5 Arial;
    background-color:#fff;
    color:#444;
}

